<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
		<link
		rel="stylesheet" href="/assets/css/style.css"/>
		{# <link rel="stylesheet" href="assets/css/bootstrap.min.css"> #}
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

	</head>
	<body>
		<div class="sidebar">
			<header>Clicodeal</header>
			<ul>
				<li><a href="/home"><i class="fas fa-home"></i>Accueil</a></li>
				<li><a href="/game"><i class="fas fa-gamepad"></i>Jeux</a></li>
				<li><a href="#"><i class="fas fa-handshake"></i>Partenaire</a></li>
			</ul>
		</li>
	</body>
</html></div>{% block body %}{% endblock %}</body></body></html>
